.groups {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--group-color);
    border-radius: 8px;
    background: color-mix(in srgb, var(--group-color) 25%, transparent);

    .node {
      padding: 8px 16px;
      background: color-mix(in srgb, var(--group-color) 30%, transparent);
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.15rem;
    }
  }
}
