.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .formTitle {
    font-size: 18px;
  }

  .row {
    display: flex;
    gap: 8px;

    input {
      flex: 1;
      min-width: 0;
    }

    button {
      flex-shrink: 0;
    }
  }
}
